.widget {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 10px;
  -webkit-box-shadow: 7px 8px 26px -13px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 7px 8px 26px -13px rgba(0, 0, 0, 0.73);
  box-shadow: 7px 8px 26px -13px rgba(0, 0, 0, 0.73);
  border-radius: 10px;
  height: 100px;

  &:hover {
    scale: 1.03;
  }

  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-weight: bold;
      font-size: 14px;
      color: rgb(160, 160, 160);
    }

    .counter {
      font-size: 28px;
      font-weight: 600;
      color: #007c5d;
    }

    .link {
      font-size: 10px;
      font-weight: 300;
      border-bottom: 1px solid gray;
      cursor: pointer;
      max-width: fit-content;
    }

    .icon {
      font-size: 30px;
      padding: 5px;
      background-color: #007c5d;
      color: white;
      border-radius: 5px;
      margin-right: 20px;
    }
  }
}
