

$theme-colors: (
    "primary":    #0d6efd,
    "secondary":  #6c757d,
    "success":    #198754,
    "info":       #0dcaf0,
    "warning":    #ffc107 ,
    "danger":     #dc3545,
    "light":      #f8f9fa ,
    "dark":       #212529 ,
    "background": #f7f7f7,
    "red-100":    #ff152c,
    "table":   #f4f6f8,
    "btns": #3ba875,
);
$input-border-color:#b0c8e0;
$input-focus-border-color:tint-color(#38aa75, 50%);
$input-focus-border-color:#38aa75;
$input-focus-box-shadow:none;
$form-select-focus-border-color: tint-color(#38aa75, 50%);
$form-select-focus-box-shadow: 0 0 0 1px #38aa75;
.MuiTablePagination-selectLabel, .MuiTablePagination-displayedRows{
    margin-bottom: 0px;
}
@import "~bootstrap/scss/bootstrap";
